.main{
 background-color: rgb(255, 255, 255);
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 box-shadow: 0px -9px 20px 20px white;
 padding: 0px 1.0875rem 1.45rem;
margin: 0 auto;
    margin-top: 5rem;
}

.main h1{
  box-shadow: 1px 3px 2px 2px #f6f5f5;
  padding: 1rem;
}


.main .rightbar {
    right: 0;
    left: unset;
    box-shadow: 1px 0px 2px 7px whitesmoke;
}



.content{
  padding:1rem 2rem 2rem 1rem;
  position: relative;
  max-width: 900px;
  margin-left: 20rem;
  display: flex;
    justify-content: center;
}

.content p{
  line-height: 1.8;
  font-size: 20px;
  color: #26282d;
  font-weight: 400;
}

.content .language-text{

      background: #ffe712;
    color: #161b1d;
    padding: 0 3px;
    display: inline-block;
    border-radius: 4px;
    font-size: .9rem;
    font-weight: 500;
}

.content-bar{
  width: 90%;
}


@media only screen and  (max-width:920px){
 .main h1{
     font-size: larger;
}


.content{
      margin-left: 0 !important;
      padding:0 !important;
  }
  .content-bar{
    width: 100% !important;
  }

  .content .content-bar p{
    line-height: 1.5;
    font-size: 17px;
  }
}

.content ul a{
  text-decoration: none;
  border-bottom: 1px dotted;
  transition: all .2s ease-out;
  color: rgba(0, 0, 0, 0.829);
}

.content ul a:hover{
  border-bottom: 1px solid;
}

.content .gatsby-resp-image-link {
  margin: 50px;
}



@media only screen and (max-width:1190px){
   .main .rightbar {
   display: none;
}
blockquote{

   margin-left: 0 !important;
  margin-right:0 !important;
}

blockquote p {
  line-height: 1.7 !important;

}


.content .gatsby-resp-image-link {
  box-shadow: 1px 1px #ffff;
  margin: auto;
 }
}

 .gatsby-highlight{
  margin:1rem auto;
}
/*
.gatsby-highlight::before{
content: attr(data-language);
position: absolute;
right: 0px;
color: #cac717;
font-size: .7rem;
padding: .2rem;
background-color: rgb(10, 9, 9);
background: rgba(221, 221, 221, 0.18);
} */

.readtime{
  float: right;
}

.gatsby-code-title{
      background: bisque;
    padding: 2px;
    margin-bottom: -19px;
}


blockquote {
  background: #fff4321a;
    border-left: 3px solid #727070;
  margin: 1.5em 0;
padding: 0.5em 10px !important;
  font-size: initial;
  color: #000000ee;
}

blockquote p {
  display: inline;
}

.progress-bar{
  /* appearance: none; */
left: 0;
top: 0;
    position: fixed;
    z-index: 455;
    background-color: transparent;
    height: 4px;
    width: 100%;
}

.bar{
    top: 0;
   position: absolute;;
    background: rgb(173, 248, 10);
   box-shadow: 1px 1px 1px whitesmoke;
   left: 0;
   height: 100%;
   width: 0;
}
