.footer-g{
    background-color: rgb(252, 252, 252);
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.footer-start{
    margin-left: 16rem;
}

.footer-title{
    font-weight: 200;
    text-decoration: none;
    color: #141414;
    font-size: 1.3rem;
    display: inline
}

.logostyle{
    text-decoration: none;
    font-weight: 100;
}

.footer-links{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
}


.footer-links a:first-child{
    margin-left: 9rem;

}

.footer-links a{
    text-decoration: none;
    margin-left: 1rem;
     color: inherit;

}
.form{
        padding: 2.4rem;
    margin-left: 3rem;
    transform: skewY(-4deg);
    border-radius: 2%;

    background: #ffff;
        box-shadow: inset 0px 0px 2px;
}
.form-box{
       transform: skewY(5deg);
}

.label{
    margin:.4rem;
}
.twitter-style{
    text-decoration: none;
        position: relative;
    height: 20px;
    padding: 1px 8px 1px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}
.email{
    transform: skewY(-1deg);
}

.subs{
            margin: .4rem;
    background: #f6fa0af7;
    font-size: 0.9rem;
    cursor: pointer;
    color: #0d0d0d;
    font-weight: 500;
    transform: skewY(-1deg);
    border: 1px solid #4d4d4d;
    box-shadow: 0 1px 1px black;
    transition: all .2s ease-in-out;
}

.subs:hover{
    box-shadow:none;
}
.socials{
  display: flex;
}
.f-logostyle {
  color: #000000d6;
  background: #dfdfd500;
  padding: 0.3rem;
  margin-left: 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: unset;
  letter-spacing: 0.2rem;
  text-shadow: 0px 1px 0px white;
  transition: all 0.3s ease-in;
  font-weight: 100;
  font-size: 1.2rem;
}

.f-logostyle:hover {
  box-shadow: -1px 0px 0px 2px #f5f5f5;
}


@media only screen and (max-width:870px){

.footer-links a:first-child{
    margin-left: 0rem;

}
.twitter-style{
   margin: 0 calc(19%);
}

.footer-links a{
   padding-top:1rem;

}

.form{

    margin-left: 0rem;
  margin-top:1rem;
   box-shadow: none;
}


.email{
    border:1px solid rgba(0, 0, 0, 0.733);
}

}


@media only screen and (max-width:800px){
    .footer-start{
    margin-left: 0;
   }
}