.main-nav {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px #0000001f;
  z-index: 233;
  width: 100%;
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  height: 3rem;
  will-change: transform;
  display: flex;
}

.header a {
  text-decoration: none;
}


.logostyle {
  color: #000000;
  background: #ffffff;
  padding: 0.3rem;
  margin-left: 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
      font-weight: 300 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5%;
}

.logostyle:hover {
  box-shadow: -1px 0px 0px 2px #f5f5f5;
}

.nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  transform: scale(0);
  width: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}

.nav.active {
  transform: scale(1);
  transition: all 0.3s;
}

.startnav {
  margin: 0 auto;
}

.navbtn {
  position: fixed;
  top: 3rem;
  right: 0%;
  background: #1f0505;
  font-size: 0.7rem;
  color: rgba(255, 217, 0, 0.918);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 980px) {
  .nav {
    overflow-x: scroll;
    overflow-y: hidden;
    margin:0;
  }
  .logostyle {
    margin-left: 0;
    /* box-shadow: 1px 0px 2px 2px rgb(246, 246, 246); */
    font-weight: 400 !important;
    font-size: unset;
  }

  .navbtn {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .logostyle {
    font-size: small;
  }
}

.nav a {
  margin-left: 0.3rem;
  color: rgb(27, 27, 27);
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
  background-color: #ffffff7a;
  transition: all 0.3s ease-in;
  font-weight: 400;
}

.nav a:hover {
  font-weight: 500;
}

.github {
  position: fixed;
  right: 0.7rem;
  top: 0.9rem;
}

.nav a:not(:first-child) {
}